# Trident 300mm^3 with BIGTREETECH Octopus Max EZ, and 5160T plus external drivers
# Max EZ Klipper compile information:# STM32H723 with a "128KiB bootloader", "25 MHz crystal", Communication interface: "USB (on PA11/PA12)"
# Octopus MAX EZ Github readme and pinouts: https://github.com/bigtreetech/Octopus-Max-EZ

#TROUBLESHOOTING LINK FOR SPI ISSUES: https://github.com/bigtreetech/Octopus-Max-EZ/issues/5

[include mainsail.cfg]
[include config_backup.cfg]
[include stealthmax.cfg]
[include disco.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_310030001251313236343430-if00
restart_method: command

[virtual_sdcard]
path: /home/trident/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# #Suggested fix for SPI issue on this board here: https://github.com/bigtreetech/Octopus-Max-EZ/issues/5
# [static_digital_output my_output_pins]
# pins:!PB12

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 10.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

# #####################################################################
# # Motor-1
# # B Stepper - Rear Left
# # Endstop connected to DIAG_0
# #####################################################################
[stepper_x]
step_pin: PC13
dir_pin: PC14
enable_pin: !PE6
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PF0
position_min: 0
##--------------------------------------------------------------------
##  Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

#  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##  Uncomment for 350mm build
#position_endstop: 350
#position_max: 350
##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  BTT TMC5150T Plus driver settings: https://bttwiki.com/TMC5160TPlus.html#marlin-firmware-settings ##
[tmc5160 stepper_x]
cs_pin: PG14
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
# spi_bus: spi4
sense_resistor: 0.022
#diag1_pin: P1.29
run_current: 2.00
stealthchop_threshold: 999999

# #####################################################################
# # Motor-3
# # A Stepper - Rear Right
# # Endstop connected to DIAG_1
# #####################################################################
[stepper_y]
step_pin: PE1
dir_pin: PE0
enable_pin: !PE3
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PF2
position_min: 0
##--------------------------------------------------------------------
##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

#  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##  Uncomment for 350mm build
#position_endstop: 350
#position_max: 350
##--------------------------------------------------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  BTT TMC5150T Plus driver settings: https://bttwiki.com/TMC5160TPlus.html#marlin-firmware-settings ##
## https://github.com/bigtreetech/docs/blob/master/docs/TMC5160TPlus.md ##
[tmc5160 stepper_y]
cs_pin: PG12
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
# spi_bus: spi4
sense_resistor: 0.022
#diag1_pin: P1.29
run_current: 2.00
stealthchop_threshold: 999999

# #####################################################################
# # Motor-5
# # B^2 Stepper - Front Left
# # Endstop connected to DIAG_0
# #####################################################################
# [stepper_x]
# step_pin: PB5
# dir_pin: PB9
# enable_pin: !PB7
# rotation_distance: 40
# microsteps: 64
# full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin: PF0
# position_min: 0
# ##--------------------------------------------------------------------
# ##  Uncomment below for 250mm build
# #position_endstop: 250
# #position_max: 250

# #  Uncomment for 300mm build
# position_endstop: 300
# position_max: 300

# ##  Uncomment for 350mm build
# #position_endstop: 350
# #position_max: 350
# ##--------------------------------------------------------------------
# homing_speed: 25   #Max 100
# homing_retract_dist: 5
# homing_positive_dir: true

# ##  BTT TMC5150T Plus driver settings: https://bttwiki.com/TMC5160TPlus.html#marlin-firmware-settings ##
# [tmc5160 stepper_x]
# cs_pin: PG10
# spi_software_miso_pin: PE13
# spi_software_mosi_pin: PE14
# spi_software_sclk_pin: PE12
# sense_resistor: 0.022
# #diag1_pin: P1.29
# run_current: 2.00
# stealthchop_threshold: 999999

# #####################################################################
# # Motor-7
# # A^2 Stepper - Front Right
# # Endstop connected to DIAG_1
# #####################################################################
# [stepper_y]
# step_pin: PD3
# dir_pin: PD2
# enable_pin: !PD4
# rotation_distance: 40
# microsteps: 64
# full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin: PF2
# position_min: 0
# ##--------------------------------------------------------------------
# ##  Uncomment for 250mm build
# #position_endstop: 250
# #position_max: 250

# #  Uncomment for 300mm build
# position_endstop: 300
# position_max: 300

# ##  Uncomment for 350mm build
# #position_endstop: 350
# #position_max: 350
# ##--------------------------------------------------------------------
# homing_speed: 25  #Max 100
# homing_retract_dist: 5
# homing_positive_dir: true

# ##  BTT TMC5150T Plus driver settings: https://bttwiki.com/TMC5160TPlus.html#marlin-firmware-settings ##
# ## https://github.com/bigtreetech/docs/blob/master/docs/TMC5160TPlus.md ##
# [tmc5160 stepper_y]
# cs_pin: PD7
# spi_software_miso_pin: PE13
# spi_software_mosi_pin: PE14
# spi_software_sclk_pin: PE12
# sense_resistor: 0.022
# #diag1_pin: P1.29
# run_current: 2.00
# stealthchop_threshold: 999999

#####################################################################
#   Z Stepper Settings
#####################################################################

# #####################################################################
# # Motor-2
# # Z1 Stepper - Rear Center
# #####################################################################
[stepper_z1]
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32
full_steps_per_rotation: 200

##  BTT TMC5150T Plus driver settings: https://github.com/bigtreetech/docs/blob/master/docs/EZ5160%20Pro.md ##
##  https://github.com/bigtreetech/docs/blob/master/docs/TMC5160.md https://biqu.equipment/products/ez-driver-ez5160-rgb ##
[tmc5160 stepper_z1]
cs_pin: PG13
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
# spi_bus: spi4
sense_resistor: 0.05
#diag1_pin: P1.29
run_current: 0.83
stealthchop_threshold: 999999

# #####################################################################
# # Motor-4
# # Z0 Stepper - Front Left
# # Endstop connected to DIAG_2
# #####################################################################
[stepper_z]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4   
microsteps: 32
endstop_pin: PF4
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.5
## For LDO 300^3 kits use 290, for 250^3 kits use 240
position_max: 290
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  BTT TMC5150T Plus driver settings: https://github.com/bigtreetech/docs/blob/master/docs/EZ5160%20Pro.md ##
##  https://github.com/bigtreetech/docs/blob/master/docs/TMC5160.md https://biqu.equipment/products/ez-driver-ez5160-rgb ##
[tmc5160 stepper_z]
cs_pin: PG11
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
# spi_bus: spi4
sense_resistor: 0.05
#diag1_pin: P1.29
run_current: 0.83
stealthchop_threshold: 999999

# #####################################################################
# # Motor-6
# # Z2 Stepper - Front Right
# #####################################################################
[stepper_z2]
step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4 
microsteps: 32
full_steps_per_rotation: 200

##  BTT TMC5150T Plus driver settings: https://github.com/bigtreetech/docs/blob/master/docs/EZ5160%20Pro.md ##
##  https://github.com/bigtreetech/docs/blob/master/docs/TMC5160.md https://biqu.equipment/products/ez-driver-ez5160-rgb ##
[tmc5160 stepper_z2]
cs_pin: PG9
spi_software_miso_pin: PE13     # https://github.com/bigtreetech/Octopus-Max-EZ/issues/5#issuecomment-1869756370
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
# spi_bus: spi4
sense_resistor: 0.05
#diag1_pin: P1.29
run_current: 0.83
stealthchop_threshold: 999999

#####################################################################
#   Additional MOTOR SLOTS (EZMAX31865 or Extruders?)
#####################################################################


# #####################################################################
# # Motor-8
# #####################################################################
#[extruder3]
#step_pin: PA10
#dir_pin: PA9
#enable_pin: !PA15
#heater_pin: PF7 # HE3
#sensor_pin: PA7 # T3
#...
# #####################################################################
# #   MAX 31865 Config
# #####################################################################
# [temperature_sensor EZMAX_31865]
# sensor_type: MAX31865
# spi_software_sclk_pin: PE12
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2
# rtd_use_50Hz_filter: True
# sensor_pin: PD6
# min_temp: -20
# max_temp: 350
# spi_bus: spi4

# #####################################################################
# # Motor-9
# #####################################################################
#[extruder4]
#step_pin: PA8
#dir_pin: PC7
#enable_pin: !PC9
#...
# #####################################################################
# #   MAX 31865 Config
# #####################################################################
# [temperature_sensor EZMAX_31865]
# sensor_type: MAX31865
# spi_software_sclk_pin: PE12
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2
# rtd_use_50Hz_filter: True
# sensor_pin: PG8
# min_temp: -20
# max_temp: 350
# spi_bus: spi4

# #####################################################################
# # Motor-10
# #####################################################################
#[extruder5]
#step_pin: PG6
#dir_pin: PC6
#enable_pin: !PC8
#...
# #####################################################################
# #   MAX 31865 Config
# #####################################################################
# [temperature_sensor EZMAX_31865]
# sensor_type: MAX31865
# spi_software_sclk_pin: PE12
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2
# rtd_use_50Hz_filter: True
# sensor_pin: PG7
# min_temp: -20
# max_temp: 350
# spi_bus: spi4

# #####################################################################
# #   Extruder
# #####################################################################

# #   Connected to MOTOR_x
# #   Heater - HE0
# #   Thermistor - T0
# [extruder]
# step_pin: PC13
# dir_pin: !PF0
# enable_pin: !PF1
# ##  Update value below when you perform extruder calibration
# ##  If you ask for 100mm of filament, but in reality it is 98mm:
# ##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
# ##  22.6789511 is a good starting point
# rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
# ##  Update Gear Ratio depending on your Extruder Type
# ##  Use 50:10 for Stealthburner/Clockwork 2
# ##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
# ##  Use 80:20 for M4, M3.1
# gear_ratio: 50:10
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# heater_pin: PA1
# ## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# ## The kit ships with ATC Semitec 104NT thermistors, check your thermistor type if you have a hotend with an integrated thermistor
# #sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PF4
# min_temp: 10
# max_temp: 270
# max_power: 1.0
# min_extrude_temp: 170
# control = pid
# pid_kp = 26.213
# pid_ki = 1.304
# pid_kd = 131.721
# ##  Try to keep pressure_advance below 1.0
# #pressure_advance: 0.05
# ##  Default is 0.040, leave stock
# #pressure_advance_smooth_time: 0.040

# ##  E0 on MOTORx
# ##  Make sure to update below for your relevant driver (2208 or 2209)
# [tmc2209 extruder]
# uart_pin: PE4
# interpolate: false
# run_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0



#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
# ##  SSR Pin - HE1
# ##  Thermistor - TB
heater_pin: PF5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: PB0
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1.0
min_temp: 0
max_temp: 140
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


# [temperature_sensor heater_bed]
# sensor_type: PT1000
# pullup_resistor: 2200
# sensor_pin: PB0
#min_temp: 0
#max_temp: 150

#####################################################################
#   Probe
#####################################################################

#placeholder

#####################################################################
#   Fan Control
#####################################################################


#[heater_fan fan4]   #-in 2.4 this is tied to nevermore filter.
#pin: PA1
#tachometer_pin: PC3

[multi_pin ebay_fans]
pins: PA1, PA2

[temperature_fan electronics_bay]
##  Electronics bay temp fan - FAN4
pin: multi_pin:ebay_fans
tachometer_pin: PC3
kick_start_time: 0.5
sensor_type: Generic 3950
sensor_pin: PA7
min_temp: 0
max_temp: 65
target_temp: 25
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
# heater: heater_bed

# [temperature_fan right_fan]
# ##  Left side Controller fan - FAN6
# pin: PA2
# tachometer_pin: PC2
# kick_start_time: 0.5
# sensor_type: Generic 3950
# sensor_pin: TH0
# min_temp: 0
# max_temp: 65
# control: pid
# pid_kp: 1.0
# pid_ki: 0.5
# pid_kd: 2.0
# # heater: heater_bed

#####################################################################
#   Temp sensors
#####################################################################
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 110

[temperature_sensor rpi5]
sensor_type: temperature_host
min_temp: 10
max_temp: 110


[board_pins]
aliases:
    # # FPC header, Aliases EXP1 & EXP2 for mini12864
    # EXP1_1=PG2, EXP1_2=PD15,
    # EXP1_3=PD14, EXP1_4=PD13,
    # EXP1_5=PD12, EXP1_6=PD11,
    # EXP1_7=PD10, EXP1_8=PE15,
    # EXP1_9=<GND>, EXP1_10=<5V>,

    # # EXP2 header
    # EXP2_1=PE13, EXP2_2=PE12,
    # EXP2_3=PG5, EXP2_4=PE11,
    # EXP2_5=PG4, EXP2_6=PE14,
    # EXP2_7=PG3, EXP2_8=<RST>,
    # EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: PB15
#control_pin: PB14

# Proximity switch
#[probe]
#pin: PF11

#[output_pin ps_on_pin]
#pin: PF13

#[output_pin pf12_pin]
#pin: PF12

#[neopixel my_neopixel_1]
#pin: PE10

#[neopixel my_neopixel_2]
#pin: PE9

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10

#[adxl345]
#cs_pin: PF14
#spi_bus: spi4

# [filament_switch_sensor switch_sensor]
# switch_pin: ^PF1
# pause_on_runout: False
# runout_gcode:
#     PAUSE # [pause_resume] is required in printer.cfg
#     M117 Filament switch runout
# insert_gcode:
#     M117 Filament switch inserted

# [filament_motion_sensor encoder_sensor]
# switch_pin: ^PC15

# detection_length: 2.88 #accuracy of motion sensor 2.88mm
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
#     PAUSE # [pause_resume] is required in printer.cfg
#     M117 Filament switch runout
# insert_gcode:
#     M117 Filament switch inserted